@import url('https://fonts.googleapis.com/css2?family=Adamina&family=League+Spartan:wght@100..900&display=swap');

:root {
  --primary-color: #e0d9cd;
  --secondary-color: #55564f;
  --accent-color: #ff4c29;
}

*,*::before,*::after{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html, body {
 overflow-x: hidden;
}

h1 {
  font-family: 'Adamina', serif;
  font-size: 30px;
}

h2 {
 font-family: 'League+Spartan', sans-serif;
 margin-bottom: .8em;
}

p {
  font-family: 'league+spartan', sans-serif;
  font-size: 18;
  line-height: 1.5;
}

 body {
   font-family: 'league+spartan', sans-serif;
 }

.btn {
  display: inline-block;
  background:var(--accent-color);
  color:var(--primary-color);
  padding: .8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
  font-family: 'league+spartan', sans-serif;
  text-decoration: none;
  border-radius: 1em;
  filter: drop-shadow(6px 4px 6px)
}

.btn:hover {
  background:var(--secondary-color);
  Color:var(--primary-color)
}

/* -----Navigation----- */
.navigation {
  background: var(--primary-color);
  text-align: center;
  font-family: 'League+Spartan' sans-serif;
  Padding: 1em;
  position: sticky;
  top:0;
  z-index: 999;
}
 
.navigation .logo {
  margin-left: 60px;
}
  
.nav-toggle {
  display: none;
}
  
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
  
.nav-toggle-label span {
  color: var(--secondary-color);
  font-size: 1.5em;
}
  
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--secondary-color);
  width: 100%;
  transform: scale(1,0);
  transition: transform 400ms ease-in-out;
  transform-origin: top;
}
  
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
  
nav a {
  color: var(--secondary-color);
  font-family: 'league+Spartan' sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
 
nav a:hover {
  color: var(--accent-color);
}
  
.nav-toggle:checked ~nav {
  transform: scale(1,1);
}
  
.nav-toggle:checked ~nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
/* ------- Hero Section -------> */
.hero {
  background-image: url(Images/Hero.jpg);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero img {
  display: flex;
  position: absolute;
  top: 425px;
  right: 120px;
  height: 30%;
}

.hero a {
  position: relative;
  padding: .8rem 1.8rem;
  cursor: pointer;
  top: 565px;
  right: -1230px;
}

/* ------- About Campaign Section -------> */
.section {
  display: flex;
  padding: 3em;
  gap: 1em;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.left-col {
  flex: 1;
  align-self: stretch;
}

.right-col {
  flex: 1;
  margin: 4em;
  margin-right: 160px;
}

.right-col img {
  height: 100%;
}

.right-col h1 {
  padding-bottom: .5em;
  font-size: 36px;
  text-align: center;
  margin-right: 400px;
}

.left-col img {
  width: 60%;
  margin-top: 50px;
  margin-left: 300px;
  position: center; 
  object-fit: cover;
}

/* ------- Warriors & Quiet Waters Section -------> */
.wqw-section {
  background-image: url(Images/warriors_and_quiet_waters.jpg);
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wqw-section h1 {
  text-align: center;
  font-size: 72px;
  display: flex;
  position: absolute;
  top: 200px;
  right: 200px;
}

.wqw-section a {
  position: relative;
  padding: .8rem 1.8rem;
  cursor: pointer;
  top: 475px;
  right: -1290px;
}

/* ------- VA Section -------> */
.va-section {
  background-image: url(Images/backdrop.png);
  height: 75vh;
  width: 80%;
  margin-top: 100px;
  margin-right: 200px;
  margin-left: 100px;
  margin-bottom: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.va-section img {
  display: flex;
  position: absolute;
  height: 75vh;
}

.va-section h1 {
  text-align: center;
  font-size: 54px;
  display: flex;
  position: absolute;
  top: 100px;
  right: 140px;
}

.va-section p {
  text-align: center;
  display: flex;
  position: absolute;
  top: 260px;
  right: 140px;
}

.va-section a {
  position: relative;
  padding: .8rem 1.8rem;
  cursor: pointer;
  top: 325px;
  right: -950px;
}

/* ------- Resouces Section -------> */
.resource-section {
  background: var(--secondary-color);
}

.resource-section h1 {
  color: var(--primary-color);
  margin-top: 60px; /* not working... */
  margin-left: 60px;
}

.card-sect {
  display:flex;
  justify-content:center;
}

.card{
  margin-left: 60px;
  margin-right: 60px;
}

.card h2 {
  color: var(--primary-color);
  font-size: 20px;
}

.card p {
  color: var(--primary-color);
  font-size: 16px;
}

.card img {
  width:450px;
  padding:10px;
  margin:10px;
}
/* ------- Psych Armor Section -------> */
 .pa-section {
  margin-top: 100px;
  margin-left: 500px;
  margin-bottom: 100px;
  justify-content: center;
 }

/* ------- Footer Section -------> */
footer {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align:center;
  padding:30px;
}

.logo-footer {
  font-size: 24px;
  display: block;
  color: #FFF5E0;
}

.footer-top {
  display: block;
}

.secondary-navigation {
  font-family: 'Montserrat', sans-serif;
}

.secondary-navigation ul {
  display: flex;
  list-style: none;
  justify-content:center;
  padding: 2em;
}

.secondary-navigation li {
  list-style-type: none;
  padding: 2px 10px;
}

.secondary-navigation a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: .5em;
  display: flex;
  left: 300px;
}

.secondary-navigation ul li a:hover {
  transition:1s;
  color:var(--primary-color);
  background-color: #FF4C29;
  border-radius:10px;
 }

 .social-icons {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: .5em;
  padding: 1em;
}
.social-icons a {
  color: #FF4C29;
  font-size: 2em;
}

.social-icons a:hover {
  color: #FFF5E0;
}


 
  /* media querries for desktop version                                                                 Media Querries                */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------> */
@media screen and (min-width:720px){
  h1 {
    font-size: 42px;
  }
  
/* ------- Navigation Section -------> */  
  .nav-toggle-label {
    display: none;
  }
    
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  nav {
    all: unset;
    margin-right: 60px;
  }
    
  nav a {
    opacity: 1;
    position: relative;
  }
    
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
    
  nav li {
    margin-left:3em;
    margin-bottom: 0;
  }
    
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #FF4C29;
    position: absolute;
    bottom: -.75em;
    left: 0;
    right: 0;
    transform:scale(0,1);
  }
    
  nav a:hover::before {
    transform: scale(1,1);
    transition: transform ease-in-out 350ms;
    transform-origin: left;
  } 

  /* ------- Hero Section -------> */
  .hero {
    height: 90vh;
  }

  .hero img{
    display: flex;
    width: 600px;
  }

  /* ------- About Campaign Section -------> */

  /* ------- Warriors & Quiet Waters Section -------> */

  /* ------- VA Section -------> */

  /* ------- Resouces Section -------> */

  /* ------- Psych Armor Section -------> */
 
  /* ------- Footer Section -------> */
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-icons {
    padding: 5em;
  }
}
  
  /* Media queries for video display */
  /* -----------------------------------------------> */
  @media (min-aspect-ratio: 16/9){
    .back-video{
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9){
    .back-video{
      width: auto;
      height: 100%;
    }
  }